{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-3">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                        {{ 'statistic.min' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.min | number_format(2, ',', ' ') }} zł
                </div>
            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                        {{ 'statistic.max' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.max | number_format(2, ',', ' ') }} zł
                </div>
            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-random"></i>
                        {{ 'statistic.avg' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.avg | number_format(2, ',', ' ') }} zł
                </div>
            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-retweet"></i>
                        {{ 'statistic.sum' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.sum | number_format(2, ',', ' ') }} zł
                </div>
            </div>

        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-tasks"></i>
                {{ 'header.summary' | trans }}
            </h3>
        </div>
        <div class="panel-body text-center">
            {% if timeLine.days is not empty%}
                <div id="summary-timeline-chart"></div>
            {% else %}
                <div class="alert alert-info">{{ 'info.no_data' | trans }}</div>
            {% endif %}
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <th>{{ 'model._common.date' | trans }}</th>
                    <th>{{ 'model.operation._title' | trans }}</th>
                    <th>{{ 'model.contact._title' | trans }}</th>
                    <th>{{ 'model.tag._title_plural' | trans }}</th>
                    <th>{{ 'model.operation.amount' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% set date = null %}
            {% for operation in operations %}
                <tr>
                    <td>{{ operation.date | date('Y-m-d') }}</td>
                    <td><a href="{{ path('operation_edit', {'operation': operation.id }) }}" class="center-block">{{ operation.name }}</a></td>
                    <td><a href="{{ path('operation_index', {contact: operation.contact.id}) }}">{{ operation.contact.name }}</a></td>
                    <td>
                        {% for tag in operation.contact.tags %}
                            <a href="{{ path('operation_index', {tag: tag.id}) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-right">{{ operation.amount | number_format(2, '.', ',') }} zł</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

{% block javascripts %}

    <script>

        $(document).ready( function () {
            $('.table').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
                },
                rowGroup: {
                    dataSrc: 0
                }
            });
        });

        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'summary-timeline-chart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                {% for key, day in timeLine.days %}
                { day: '{{ key }}'
                    {% for line in day %}
                    , '{{ line.id }}': {{ line.sum | number_format(2,'.','') }}
                    {% endfor %}
                }
                {% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'day',
            // A list of names of data record attributes that contain y-values.
            ykeys: [{%  for key, contact in timeLine.legend %}'{{ key }}'{% if not loop.last %},{% endif %}{% endfor %}],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: [{%  for key, contact in timeLine.legend %}'{{ contact }}'{% if not loop.last %},{% endif %}{% endfor %}],
            continuousLine: true,
            postUnits: ' zł',
            hideHover: 'auto',
            resize: true
        });

    </script>

{% endblock %}
