{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form, {attr: {'class':'form-inline'}}) }}
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <th>{{ 'model._common.date' | trans }}</th>
                    <th>{{ 'model.import.file' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for import in imports %}
                <tr>
                    <td>{{ import.date | date('Y-m-d') }}</td>
                    <td><a href="{{ path('import_import', {import: import.id, ignoreExisting: 'ignore'}) }}">{{ import.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

