{% extends 'base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="list-inline text-right">
                <li class="pull-left">
                    {{ form_start(delete_form) }}
                    <input type="submit" class="btn btn-danger" value="{{ 'form.delete.label' | trans }}">
                    {{ form_end(delete_form) }}
                </li>
                <li>
                    <a class="btn btn-info" href="{{ path('tag_index') }}">{{ 'form.return.label' | trans }}</a>
                </li>
            </ul>
        </div>
        {{ form_start(edit_form) }}
        <div class="panel-body">
            {{ form_widget(edit_form) }}
        </div>
        <div class="panel-footer">
            <ul class="list-inline text-right">
                <li>
                    <input type="submit" class="btn btn-success" value="{{ 'form.edit.label' | trans }}" />
                </li>
            </ul>
        </div>
        {{ form_end(edit_form) }}
    </div>

{% endblock %}

