{% extends '::base.html.twig' %}

{% import _self as macro %}

{% macro panel(style, icon, header, body) %}

    <div class="panel panel-{{ style }}">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-{{ icon }}"></i>
                {{ header | trans }}
            </h3>
        </div>
        <div class="panel-body text-center">
            {{ body | number_format(2, ',', ' ') }} zł
        </div>
    </div>

{% endmacro %}

{% macro chart(context, header, id, type, col, data) %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-tasks"></i>
                {{ header | trans }}
            </h3>
        </div>
        <div class="panel-body">
            {% if data is not empty %}
                <div class="text-center">
                    <div id="{{ id }}"></div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ col | trans }}</th>
                            <th>{{ 'model.operation.amount' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in data %}
                            <tr>
                                <td>
                                    <a href="{{ path('operation_index', {(type): group.id, dateFrom: context.dateFrom | date('Y-m-d'), dateTo: context.dateTo | date('Y-m-d')}) }}">
                                        {% if group.name is not null %}
                                            {{ group.name }}
                                        {% else %}
                                            {{ 'model._common.other' | trans }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="text-right">{{ group.amount | number_format(2,'.','') }}&nbsp;zł</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info">{{ 'info.no_data' | trans }}</div>
            {% endif %}
        </div>
    </div>

{% endmacro %}

{% macro donut(element, data) %}

    new Morris.Donut({
        element: '{{ element }}',
        formatter: function (y, data) {
            return y + ' zł';
        },
        data: [
        {% for group in data | slice(0, 10) %}
            { label: '{{ group.name }}', value: '{{ group.amount | number_format(2,'.','') }}'}{% if not loop.last %},{% endif %}
        {% endfor %}
    ]});

{% endmacro %}

{% block body %}

    <div class="row">

        <div class="col-xs-6 col-md-4">

            {{ macro.panel('danger', 'chevron-up', 'header.expenses', statistics.expenses.sum) }}

        </div>

        <div class="col-xs-6 col-md-4">

            {{ macro.panel('success', 'chevron-down', 'header.incomes', statistics.incomes.sum) }}

        </div>

        <div class="col-xs-3"></div>

        <div class="col-xs-6 col-md-4">

            {{ macro.panel('info', 'retweet', 'header.balance', statistics.balance) }}

        </div>

        <div class="col-xs-3"></div>

    </div>

    <nav aria-label="date-top-nav">
        <ul class="pager">
            <li class="previous"><a href="{{ path('homepage', {'dateFrom': dates.prevFrom | date('Y-m-d'), 'dateTo': dates.prevTo | date('Y-m-d')}) }}"><span aria-hidden="true">&larr;</span></a></li>

            <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> <span class="datepicker datapicker-start">{{ dateFrom | date('Y-m-d') }}</span></a></li>
            <li>-</li>
            <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> <span class="datepicker datapicker-stop">{{ dateTo | date('Y-m-d') }}</span></a></li>
            <li>:</li>

            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-1 dey') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.day' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-1 week') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.week' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-1 month') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.month' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-3 month') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.quarter' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-1 year') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.year' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-10 year') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.decade' | trans }}</a></li>

            <li class="next"><a href="{{ path('homepage', {'dateFrom': dates.nextFrom | date('Y-m-d'), 'dateTo': dates.nextTo|  date('Y-m-d')}) }}"><span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <div class="row">

        <div class="col-md-6">

            {{ macro.chart(_context, 'header.expenses', 'groups-contact-expenses-chart', 'contact', 'model.contact._title', operations.contact.expenses) }}

        </div>

        <div class="col-md-6">

            {{ macro.chart(_context, 'header.incomes', 'groups-contact-incomes-chart', 'contact', 'model.contact._title', operations.contact.incomes) }}

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

            {{ macro.chart(_context, 'header.expenses', 'groups-tag-expenses-chart', 'tag', 'model.tag._title', operations.tag.expenses) }}

        </div>

        <div class="col-md-6">

            {{ macro.chart(_context, 'header.incomes', 'groups-tag-incomes-chart', 'tag', 'model.tag._title', operations.tag.incomes) }}

        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-tasks"></i>
                {{ 'header.summary' | trans }}
            </h3>
        </div>
        <div class="panel-body text-center">
            {% if timeLine is not empty%}
            <div id="summary-timeline-chart"></div>
            {% else %}
            <div class="alert alert-info">{{ 'info.no_data' | trans }}</div>
            {% endif %}
        </div>
    </div>

    <nav aria-label="date-top-nav">
        <ul class="pager">
            <li class="previous"><a href="{{ path('homepage', {'dateFrom': dates.prevFrom | date('Y-m-d'), 'dateTo': dates.prevTo | date('Y-m-d')}) }}"><span aria-hidden="true">&larr;</span></a></li>
            <li class="next"><a href="{{ path('homepage', {'dateFrom': dates.nextFrom | date('Y-m-d'), 'dateTo': dates.nextTo | date('Y-m-d')}) }}"><span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

{% endblock %}

{% block javascripts %}

    <script>

        $(document).ready( function () {
            $('.table').DataTable({
                lengthChange: false,
                ordering: false,
                searching: false,
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
                }
            });
        });

        function format_date(date){
            var y = date.getFullYear(),
                m = date.getMonth() + 1,
                d = date.getDate();

            function z(i){return (i <= 9 ? '0'+i : i);}
            return y+'-'+z(m)+'-'+z(d);
        }

        var dateFrom = "{{ dateFrom | date('Y-m-d') }}";
        var dateTo = "{{ dateTo | date('Y-m-d') }}";
        var href = "{{ path('homepage', { dateFrom: 'x', dateTo: 'y'}) }}";

        $('.datepicker.datapicker-start').datepicker({language:'pl'}).on('changeDate', function(e) {
            dateFrom = format_date(e.date);
            href = href.replace('x', dateFrom);
            href = href.replace('y', dateTo);
            window.location.href = href;
        });

        $('.datepicker.datapicker-stop').datepicker({language:'pl'}).on('changeDate', function(e) {
            dateTo = format_date(e.date);
            href = href.replace('x', dateFrom);
            href = href.replace('y', dateTo);
            window.location.href = href;
        });

        {{ macro.donut('groups-contact-expenses-chart', operations.contact.expenses) }}
        {{ macro.donut('groups-contact-incomes-chart', operations.contact.incomes) }}

        {{ macro.donut('groups-tag-expenses-chart', operations.tag.expenses) }}
        {{ macro.donut('groups-tag-incomes-chart', operations.tag.incomes) }}

        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'summary-timeline-chart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
            {% set sum = statistics.start %}
            {% for key, day in timeLine %}
                { day: '{{ key }}'
                    {% for line in day %}
                        {% if line.type == 'all' %}
                            {% set sum = line.sum + sum %}
                            {% set tmp = sum %}
                    {% else %}
                            {% set tmp = line.sum %}
                    {% endif %}
                    , '{{ line.type }}': {{ tmp | number_format(2,'.','') }}
                    {% endfor %}
                }
                {% if not loop.last %},{% endif %}
            {% endfor %}
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'day',
            // A list of names of data record attributes that contain y-values.
            ykeys: [{%  for line in ['all', 'expenses', 'incomes'] %}'{{ line }}'{% if not loop.last %},{% endif %}{% endfor %}],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['{{ 'header.balance' | trans }}', '{{ 'header.expenses' | trans }}', '{{ 'header.incomes' | trans }}'],
            lineColors: ['blue', 'red', 'green'],
            continuousLine: true,
            postUnits: ' zł',
            hideHover: 'auto',
            resize: true
        });

    </script>

{% endblock %}
