{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-xs-6 col-md-4">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                        {{ 'header.incomes' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.incomes.sum | number_format(2, ',', ' ') }} zł
                </div>
            </div>

        </div>


        <div class="col-xs-6 col-md-4">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                        {{ 'header.expenses' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.expenses.sum | number_format(2, ',', ' ') }} zł
                </div>
            </div>

        </div>

        <div class="col-xs-3"></div>

        <div class="col-xs-6 col-md-4">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-retweet"></i>
                        {{ 'header.balance' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.balance | number_format(2, ',', ' ') }} zł
                </div>
            </div>

        </div>

        <div class="col-xs-3"></div>

    </div>

    <nav aria-label="date-top-nav">
        <ul class="pager">
            <li class="previous"><a href="{{ path('homepage', {'dateFrom': dates.prevFrom | date('Y-m-d'), 'dateTo': dates.prevTo | date('Y-m-d')}) }}"><span aria-hidden="true">&larr;</span></a></li>

            <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> <span class="datepicker datapicker-start">{{ dateFrom | date('Y-m-d') }}</span></a></li>
            <li>-</li>
            <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> <span class="datepicker datapicker-stop">{{ dateTo | date('Y-m-d') }}</span></a></li>
            <li>:</li>

            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-1 dey') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.day' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-1 week') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.week' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-1 month') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.month' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-3 month') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.quarter' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-1 year') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.year' | trans }}</a></li>
            <li><a href="{{ path('homepage', {'dateFrom': 'now' | date_modify('-10 year') | date('Y-m-d'), 'dateTo': 'now' | date('Y-m-d') }) }}">{{ 'calendar.decade' | trans }}</a></li>

            <li class="next"><a href="{{ path('homepage', {'dateFrom': dates.nextFrom | date('Y-m-d'), 'dateTo': dates.nextTo|  date('Y-m-d')}) }}"><span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-tasks"></i>
                        {{ 'header.expenses' | trans }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% if operations.expenses is not empty%}
                    <div class="text-center">
                        <div id="groups-expenses-chart"></div>
                    </div>
                    <div class="table-responsive" style="height: 400px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'model.contact._title' | trans }}</th>
                                    <th>{{ 'model.operation.amount' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for group in operations.expenses %}
                            <tr>
                                <td><a href="{{ path('operation_index', {contact: group.contact_id}) }}">{{ group.contact_name }}</a></td>
                                <td class="text-right">{{ group.amount | number_format(2,'.','') }}&nbsp;zł</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="alert alert-info">{{ 'info.no_data' | trans }}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-tasks"></i>
                        {{ 'header.incomes' | trans }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% if operations.incomes is not empty%}
                    <div class="text-center">
                        <div id="groups-incomes-chart"></div>
                    </div>
                    <div class="table-responsive" style="height: 400px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'model.contact._title' | trans }}</th>
                                    <th>{{ 'model.operation.amount' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for group in operations.incomes %}
                            <tr>
                                <td><a href="{{ path('operation_index', {contact: group.contact_id}) }}">{{ group.contact_name }}</a></td>
                                <td class="text-right">{{ group.amount | number_format(2,'.','') }}&nbsp;zł</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="alert alert-info">{{ 'info.no_data' | trans }}</div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-tasks"></i>
                {{ 'header.summary' | trans }}
            </h3>
        </div>
        <div class="panel-body text-center">
            {% if operations.all is not empty%}
            <div id="summary-chart"></div>
            {% else %}
            <div class="alert alert-info">{{ 'info.no_data' | trans }}</div>
            {% endif %}
        </div>
    </div>

    <nav aria-label="date-top-nav">
        <ul class="pager">
            <li class="previous"><a href="{{ path('homepage', {'dateFrom': dates.prevFrom | date('Y-m-d'), 'dateTo': dates.prevTo | date('Y-m-d')}) }}"><span aria-hidden="true">&larr;</span></a></li>
            <li class="next"><a href="{{ path('homepage', {'dateFrom': dates.nextFrom | date('Y-m-d'), 'dateTo': dates.nextTo | date('Y-m-d')}) }}"><span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

{% endblock %}

{% block javascripts %}

    <script>

        function format_date(date){
            var y = date.getFullYear(),
                m = date.getMonth() + 1,
                d = date.getDate();

            function z(i){return (i <= 9 ? '0'+i : i);}
            return y+'-'+z(m)+'-'+z(d);
        }

        var dateFrom = "{{ dateFrom | date('Y-m-d') }}";
        var dateTo = "{{ dateTo | date('Y-m-d') }}";
        var href = "{{ path('homepage', { dateFrom: 'x', dateTo: 'y'}) }}";

        $('.datepicker.datapicker-start').datepicker({language:'pl'}).on('changeDate', function(e) {
            dateFrom = format_date(e.date);
            href = href.replace('x', dateFrom);
            href = href.replace('y', dateTo);
            window.location.href = href;
        });

        $('.datepicker.datapicker-stop').datepicker({language:'pl'}).on('changeDate', function(e) {
            dateTo = format_date(e.date);
            href = href.replace('x', dateFrom);
            href = href.replace('y', dateTo);
            window.location.href = href;
        });

        new Morris.Donut({
            element: 'groups-expenses-chart',
            formatter: function (y, data) {
                return y + ' zł';
            },
            data: [
            {% for group in operations.expenses | slice(0, 10) %}
                { label: '{{ group.contact_name }}', value: '{{ group.amount | number_format(2,'.','') }}'}{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
        });

        new Morris.Donut({
            element: 'groups-incomes-chart',
            formatter: function (y, data) {
                return y + ' zł';
            },
            data: [
            {% for group in operations.incomes | slice(0, 10) %}
                { label: '{{ group.contact_name }}', value: '{{ group.amount | number_format(2,'.','') }}'}{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
        });

        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'summary-chart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
            {% set sum = statistics.start %}
            {% for day in operations.all %}
                {% set sum = sum + day.sum %}
                { day: '{{ day.date }}', operations: {{ sum | number_format(2,'.','') }} }{% if not loop.last %},{% endif %}
            {% endfor %}
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'day',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['operations'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['{{ 'header.balance' | trans }}'],
            continuousLine: true,
            postUnits: ' zł',
            hideHover: 'auto',
            resize: true
        });

    </script>

{% endblock %}
