{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form, {attr: {'class':'form-inline'}}) }}
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">

            <div class="panel panel-default panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                        {{ 'model.operation.header.incomes' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.incomes | number_format(2, '.', ',') }} zł
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                        {{ 'model.operation.header.expenses' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.expenses | number_format(2, '.', ',') }} zł
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-retweet"></i>
                        {{ 'model.operation.header.balance' | trans }}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    {{ statistics.balance | number_format(2, '.', ',') }} zł
                </div>
            </div>

        </div>

    </div>

{% endblock %}
